# Node modules
node_modules/
backend/node_modules/

# Logs & Environment variables
*.log
.env
.DS_Store

# SQLite database file (optional, or keep if demo needed)
*.db
database/*.db

# IDE settings
.vscode/
.idea/
